<div class="container pt-5">
  <div class="row text-center ">
    <h1 class="display-5">Welcome to the Duck Gallery</h1>
    <p class="lead">
      Chilepasajes technical challenge.
    </p>
  </div>
  <div class="row">
  <div class="container mt-10 pt-5">
    <div class="row g-2">
      <div class="col-auto">
        <input type="number" class="form-control" #numberInput placeholder="Number of images">
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" (click)="fetchImages(+numberInput.value)">Get Images</button>
      </div>
      <div id="emailHelp" class="form-text">Get image brings all images and gifs that contain the input number, and includes a random image as a bonus</div>
    </div>
  </div>
</div>
<div class="row pt-5">
  <div class="container overflow-hidden text-center">
    <div class="row gy-5">

      <div class="col-12" *ngIf="randomImage">
        <h1 class="display-6">Random Image</h1>
        <div class="p-3"><a [href]="randomImage" target="_blank"><img [src]="randomImage" alt="Random Duck Image"
              class="rounded " /></a></div>
        <a [href]="randomImage" target="_blank"><button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Go to link
          </button></a>
      </div>
    </div>
  </div>

  <div class="container overflow-hidden text-center">
    <div class="row gy-5">
      <h1 class="display-6" *ngIf="imageUrls.length > 0">Ducks Images</h1>
      <div class="col-3" *ngFor="let url of imageUrls">
        <div class="p-3"><a [href]="url" target="_blank"><img [src]="url" alt="[href]='url'" class="rounded"></a></div>
        <a [href]="url" target="_blank"><button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Go to link
          </button></a>

      </div>
    </div>
  </div>
</div>
</div>