.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .random-image,
  .image-gallery {
    margin-top: 20px;
  }
  
  .image-wrapper {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
    }
  }
  